{
    "binanceTestnetRPC": "https://data-seed-prebsc-1-s1.binance.org:8545/",

    "goerliTestnetRPC": "https://mainnet.infura.io",
    "baseSepolinaTestnetRPC": "https://sepolia.base.org",
    "binanceMainnetRPC": "https://bsc-dataseed3.defibit.io",
    "ethereumMainnetRPC": "https://mainnet.infura.io",
    "baseMainnetRPC": "https://base.llamarpc.com",

    "privateKeyMainnet": "",
    "privateKeyTestnet": "",
    
    "bscscanAPI": "",
    "etherscanAPI": "",
    "basescanAPI": "",
    "infuraNodeKey": ""
}